{% extends "base.html" %}

{% block content %}
  <h1>
    Driver List
    <a href="{% url 'taxi:driver-create' %}" class="btn btn-primary link-to-page">
      Create
    </a>
  </h1>

  {% if driver_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Usernama</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>License number</th>
        <th>Update License number</th>
        <th>Delete</th>
      </tr>

      {% for driver in driver_list %}
        <tr>
          <td>
            <a href="{% url 'taxi:driver-detail' pk=driver.id %}">
              {{ driver.id }}
            </a>
          </td>
          <td>
              {{ driver.username }}
          </td>
          <td>
              {{ driver.first_name }}
          </td>
          <td>
              {{ driver.last_name }}
          </td>
          <td>
            {{ driver.license_number }}
          </td>
          <td>
              <a href="{% url 'taxi:driver-license-update' pk=driver.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'taxi:driver-delete' pk=driver.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no drivers in the service.</p>
  {% endif %}
{% endblock %}
